/* changing background color to orange */
body {
  background-color: #FF9900;
  line-height: 1.3rem;
}

h1 {
  color: navy;
  height: 20px;
  width: 200px;
  margin-left: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-right: 10mm;
  text-align: center;
  display: inline;
}

h2 {
  color: rgb(88,88,88);
  margin: 38px 38px 38px 38px;
  border-top: 2px dotted rebeccapurple;
  border-bottom: 10lh rgb(24, 163, 78);
  max-width: 650px;
  min-width: 100px;
}

h3 {
  color: hsl(0, 100, 50);
  margin: auto;
  position: static;
}

.container {
  display: flex; /* or inline-flex */
}

.box-1 {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  display: block;
  background-color: #567895;
  border: 5px solid #0b385f;
  border-style: dashed;
  color: #fff;
}

/*container */
.box-2 {
  padding: 25px 50px 75px 100px;
  position: sticky;
  display: grid | inline-grid;
}

/* Removes underline from links */
a {
  text-decoration: none;
}

/* Any button over which the user's pointer is hovering */
button:hover {
  color: blue;
}

/* Selects any <a> that is being activated */
a:active {
  color: red;
}



  
