body {
  background-color: #FF9900;
  line-height: 1.3rem;
}

h1 {
  color: navy;
  height: 20px;
  width: 200px;
  margin-left: 1cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-right: 10mm;
  text-align: center;
  display: inline;
}

h2 {
  color: rgb(88,88,88);
  margin: 38px 38px 38px 38px;
  border-top: 2px dotted rebeccapurple;
  border-bottom: 1lh double rgb(24, 163, 78);
  max-width: 600px;
  min-width: 100px;
}

h3 {
  color: hsl(0, 100, 50);
  margin: auto;
}

.box-1 {
  display: block;
  background-color: #567895;
  border: 5px solid #0b385f;
  border-style: dashed;
  color: #fff;
}

.box-2 {
  padding: 25px 50px 75px 100px;
}

div {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}

a {
  text-decoration: none;
}



  
